.pagination {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination-button {
    height: 30px;
    width: 100px;
    padding: 0;
    text-align: center;
    align-items: center;
}