// Global Styles
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --background-color-lighter: #f5edd5;
  --background-color-light: #ffeba8;
  --background-color-dark: #2c324b; 
  --background-color-darker: #12141d;
  --background-color-dark-alt: #22264b;
  
  --text-color-light: #333;
  --text-color-dark: #fff;

  --input-background-light: #f1f1f1;
  --input-background-dark: #333;
  
  --border-color-light: #ccc;
  --border-color-dark: #444;
  --border-radius-component: 10px;
  --border-radius-back: 10px; 

  --component-spacing-x: 10px 0px;
  --component-spacing-y: 10px 0px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  max-width: 100%; // Ensures full width, no max-width restriction
  width: 100%;
  height: 100%; // Ensure the root container takes full height
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Body and Layout
body {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; // Ensures full height of the viewport
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  border-radius: var(--border-radius-back);
}

#root {
  width: 100%;
  height: 100%;
}

/* Dark mode styles */
body.dark-mode {
  background-color: var(--background-color-darker);
  color: var(--text-color-dark);
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; // Ensures the container takes up the full height
}

.content-container {
  display: flex;
  flex: 1; // Allow content to fill available space
}

.main-content {
  flex: 1;
  overflow: auto;
  padding: 0;
}

// Button Styles
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  border-color: #646cff;
}

// Ensure all child elements fill their container
* {
  box-sizing: border-box;
}
